#primary.site-main {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(129, 155, 129);
      
}

body.home {
    width: 100vw;
    height: 100vh;
    
    #primary {
        margin-left: 0;
        width: 100vw;
    }
}

body.home::after {
    position: absolute;
    width: 100%;
    height: 120%;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: rgb(210, 217, 223);
    clip-path: polygon(100% 66%, 72% 100%, 100% 100%);
        @include media-desktop {
            clip-path: polygon(89% 0, 100% 0, 100% 100%, 64% 100%);
        }
}

.home .entry-header {
    font-size: clamp(0.8rem, #{"-0.875rem + 8.333vw"}, 2rem);
    margin: 0;
}

#page {
    //margin: 0 2rem 0 2rem;
}

.entry-header h1 {
    margin-top: 2vw;
    margin-bottom: 0vw;
}
.site-title {
    font-family: $font__title;
    font-size:  clamp(1.25rem, #{"-0.875rem + 5.5vw"}, 3rem);
    margin-bottom: 0;
    a {
        font-weight: bold;
        text-decoration: none;
    }
    
}

.site-description {
    font-family: $font__title;
    font-size:  clamp(1.25rem, #{"-0.875rem + 5.5vw"}, 3.5rem);
    margin-top: 0;
    margin-bottom: 2.5vw;
    color: rgb(0, 51, 17);
}

.list-cours {
    display:flex;
    flex-direction: column;

    h1 {
        text-align: center;
        background-color: rgb(17, 19, 17);
        padding: 15px 0;
        color: whitesmoke;
        letter-spacing: 2px;
        
    }

    h1 p {
        margin: 0;
        padding: 0;
        animation: texte-bouge 2.5s ease-in-out infinite alternate;
    }

    section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    
        article {
            background-color: rgb(163, 206, 154);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 85%;
            @include media-desktop {
                width: 30%;
            }
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            margin: 1%;
            
            p {
                font-size: .9rem;
                font-weight: bold;
            }
            a {
                font-size: 1.5rem;
                font-weight: bold;
                text-decoration: none;
                text-align: center;
                background-color: rgb(154, 190, 146);
                width: 100%;
                padding: 10px 0;
            }
        } //Fin Article

        // Type de cours - Changement de style
        .Web {
            background-color: rgb(179, 199, 63);

            a {
                background-color: rgb(155, 172, 61);
            }
        }

        .Spécifique {
            background-color: rgb(230, 142, 142);

            a {
                background-color: rgb(194, 134, 134);
            }
        }

        .Jeu {
            background-color: rgb(202, 162, 86);

            a {
                background-color: rgb(206, 169, 102);
            }
        }

        .Image {
            //Couleurs par défaut
        }

        .Conception {
            background-color: rgb(228, 140, 225);

            a {
                background-color: rgb(202, 142, 200);
            }
        }
    } //Fin Section
}

@keyframes texte-bouge {
    0% {
        transform: translateX(-100px);
    }

    50% {
        color: rgb(202, 228, 195);
    }

    100% {
        transform: translateX(100px);
    }
}

